.type {
    display: inline-flex;
    flex-wrap: wrap; /* Allow the text to wrap onto the next line */
    width: auto; /* Allow width to adjust based on content */
    white-space: normal; /* Allow text to wrap */
}

.type span {
    height: 1.1em;
    width: 0%;
    word-break: break-all;
    overflow: hidden;
    animation: typing 3s steps(30, end) forwards, blinking 1s step-end infinite;
}

.type span:before {
    content: " ";
    display: inline-block;
}

@keyframes typing {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes blinking {
    0%, 100% { box-shadow: 5px 0 0 #0000; }
    50% { box-shadow: 5px 0 0 rgb(255, 99, 99); }
}

.nospam {
    display: none;
}

/* General cursor 
html, body {
    cursor: url('images/pixel.cur'), auto;
}

a, button, .clickable {
    cursor: url('images/pixellink.cur'), auto !important;
}

* {
    cursor: url('images/pixel.cur'), auto;
}

*/