@font-face {
  font-family: 'Orbit-Regular';
  src: url('/fonts/Orbit-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlowfold';
  src: url('/fonts/Barlowfold.otf') format('opentype');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Manifont';
  src: url('/fonts/Manifont.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceNotoriousRounded';
  src: url('/fonts/SpaceNotoriousRounded.otf') format('opentype');
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Der75';
  src: url('/fonts/der75.otf') format('opentype');
  font-weight: 1000;
  font-style: normal;
}

// Change the font here to change the fonts of various levels of title in Markdown
// h1 is the main title of pages, and h2 is the site title

h1 {
  font-family: 'Manifont', sans-serif;
  font-size: 60px;
  color: #dc143c;
  /* background-color: #CCCCFF; --> */
}

h2, h3, h4, h5, h6 {
  font-family: 'Manifont', sans-serif;
  font-style: bold;
  color: #dc143c;
}

// Change the font here to change the fonts of body text in Markdown
body {
  font-family: 'Orbit-Regular', sans-serif;
  font-size: 15px;
}